table {
  width: 600px;
  height: 200px;
  margin: auto;
  border: 2px solid black;
}
input[type="text"] {
    width: 97%;
    color: red;
}
input {
    width: 100%;
    height: 100%;
    font-size: 30px;
}
